<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click='sendResults(false)'><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
			</div>
			<div class="modal-body">
				There are unsaved changes on this page. Are you sure you want to continue?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click='sendResults(false)'>Cancel</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click='sendResults(true)'>Continue</button>
			</div>
		</div>
	</div>
</div>
