<div class="row" data-ng-if="$ctrl.error">
	<span class="alert alert-danger col-md-4 col-md-push-4 text-center myfade" role="alert">{{$ctrl.error}}</span>
</div>
<div class="row" data-ng-if="$ctrl.success">
	<span class="alert alert-success col-md-4 col-md-push-4 text-center myfade" role="alert">{{$ctrl.success}}</span>
</div>
<loading-spinner ng-show="$ctrl.isLoading"></loading-spinner>
<div ng-show="!$ctrl.isLoading">
	<div can-view="CP_PSSD_01">
		<div  can-edit="CP_PSSD_01"  class="row col-md-offset-11 col-md-1 pull-right" data-ng-show="$ctrl.itemMaster.key.itemType === 'ITMCD' ? false : true">
			<div class="glyphicon glyphicon-folder-open pointer" style="color: blue; font-size: small; padding-bottom: 5px; float: right;" ng-click="$ctrl.showDepartmentAuditInfo()"></div>
		</div>
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-md-3">
				<div class="form-group row">
					<div class="col-sm-4" style="text-align: right">
					<label>Item Code </label>
					</div>
					<div class="col-sm-8">
						{{$ctrl.itemMaster.key.itemCode}}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group row">
					<div class="col-sm-5" style="text-align: right">
						<label>Default PSS Dept</label>
					</div>
					<div class="col-sm-7">
						{{$ctrl.defaultPssDepartment}}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group row">
					<div class="col-sm-4" style="text-align: right">
						<label>Store Dept</label>
					</div>
					<div class="col-sm-8">
						{{$ctrl.productMaster.itemClass.departmentId}}{{$ctrl.productMaster.itemClass.subDepartmentId}}
					</div>
				</div>
			</div>
		</div>
		<div can-view="CP_PSSD_01" class="row" >
			<div>
				<div class="col-md-12">
					<table class="table-heb table-bordered table-striped table-fixed" style="width:100%;">
						<thead>
							<tr>
								<th class="col-xs-4">Department</th>
								<th class="col-xs-3">Merchandise Type</th>
								<th class="col-xs-4">PSS Dept</th>
								<th can-edit="CP_PSSD_01" class="col-xs-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in $ctrl.data track by $index">
								<td class="col-xs-4">
									<div view-only="CP_PSSD_01">{{data.department.displayName}}</div>
									<div can-edit="CP_PSSD_01">
										<ui-select class="input-group-sm" style="min-width: 170px;"
												   ng-model="data.department"
												   theme="bootstrap"
												   title="Choose a Department"
												   ng-change="$ctrl.departmentChangedHandle($select.selected, $index)">
											<ui-select-match allow-clear="true" class="input-group-sm">
												{{$select.selected.displayName}}
											</ui-select-match>
											<ui-select-choices
												repeat="option in $ctrl.departments"
												refresh="$ctrl.autoFilterForSearchDepartmentField($select.search)"
												refresh-delay="400" >
												{{option.displayName}}
											</ui-select-choices>
										</ui-select>
									</div>
								</td>
								<td class="col-xs-3">
									<div view-only="CP_PSSD_01">{{data.merchandiseType.displayName}}</div>
									<div can-edit="CP_PSSD_01">
										<ui-select class="input-group-sm" style="min-width: 170px;"
												   ng-model="data.merchandiseType"
												   theme="bootstrap"
												   title="Choose a Merchandise Type" data-value="">
											<ui-select-match allow-clear="true" class="input-group-sm">
												{{$select.selected.displayName}}
											</ui-select-match>
											<ui-select-choices
												repeat="option in $ctrl.merchandiseTypes"
												refresh="$ctrl.autoFilterForSearchMerchandiseField($select.search)"
												refresh-delay="400">{{option.displayName}}
											</ui-select-choices>
										</ui-select>
									</div>
								</td>
								<td class="col-xs-4">
									<div view-only="CP_PSSD_01">{{data.pssDepartmentCode.displayName}}</div>
									<div can-edit="CP_PSSD_01">
										<ui-select class="input-group-sm" style="min-width: 140px;"
												   ng-model="data.pssDepartmentCode"
												   theme="bootstrap"
												   title="Choose a PSS Dept">
											<ui-select-match allow-clear="true" class="input-group-sm">
												{{$select.selected.displayName}}
											</ui-select-match>
											<ui-select-choices
												repeat="option in data.pssDepartmentCodes"
												refresh="$ctrl.autoFilterForSearchPssField($select.search, $index)"
												refresh-delay="400">{{option.displayName}}
											</ui-select-choices>
										</ui-select>
									</div>
								</td>
								<td can-edit="CP_PSSD_01" class="col-xs-1">
									<button class="btn btn-primary"
											ng-click="$ctrl.deleteDepartmentRow($index)"
											ng-show="$ctrl.checkHasDepartment($index)">Delete
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!--Footer -- Contain Save, Reset button-->
		<div class="row">
			<div class="col-md-12">
				<div class="divider-horizontal"></div>

				<div class="inline-block pull-right">

					<button class="btn btn-primary" data-ng-disabled="!$ctrl.dataIsChanged()"
							can-edit="CP_PSSD_01"
							ng-click="$ctrl.resetDepartmentData()"> Reset
					</button>
					<button class="btn btn-primary" data-ng-disabled="!$ctrl.dataIsChanged()"
							can-edit="CP_PSSD_01"
							ng-click="$ctrl.updateDepartmentData()"> Save
					</button>
					<button data-ng-disabled="$ctrl.disableReturnToList" class="btn btn-primary"
							data-ng-click="$ctrl.returnToList()">Return To List</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="department-attribute-log">
	<div id="department-attribute-log-modal" class="modal fade">
		<div class="modal-dialog" style="min-width: 800px;">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #337ab7">
					<h5 class="modal-title" style="color: #ffffff">Department: Change log</h5>
				</div>
				<div class="modal-body">
					<div class="col-md-12">
						<div class="col-md-4">
							<div style="margin-bottom: 20px; margin-top: -5px; font-size: 12px;">Item ID   <b>&nbsp; &nbsp;{{$ctrl.itemMaster.key.itemCode}}</b>
							</div>

						</div>
						<div class="col-md-8">
							<div style="margin-bottom: 20px; margin-top: -5px; font-size: 12px;">Item Description   <b>&nbsp; &nbsp;{{$ctrl.itemMaster.description}}</b>
							</div>
						</div>
					</div>
					<!--<div style="margin-bottom: 20px; margin-top: -5px; font-size: 12px;">Product ID <b>{{$ctrl.productMaster.prodId}}</b> Product Description <b>{{$ctrl.productMaster.description}}</b></div>-->
					<div class="row" ng-show="$ctrl.isWaitingGetDepartmentAttributeAudit">
						<loading-spinner></loading-spinner>
					</div>
					<div class="ecommerce-view-log-table" ng-show="!$ctrl.isWaitingGetDepartmentAttributeAudit">
						<table ng-table="departmentAttributeAuditTableParams" class="table-heb table-bordered table-striped margin-top-10" style="width: 100%;">
							<thead>
							<tr style="min-height:25px">
								<th style="width:15%; vertical-align: middle; padding-top: 6px; padding-bottom: 6px;">
									Attribute Name
									<input type="text" ng-model="filter.attributeName"
										   class="form-control" style="height:20px; margin-top:5px">
								</th>
								<th style="width:15%; vertical-align: middle;">Changed From</th>
								<th style="width:15%; vertical-align: middle;">Changed To</th>
								<th style="width:15%; vertical-align: middle;" ng-click="$ctrl.changeSort()">
									Changed On
									<span ng-if="sorting.changedOn === 'desc'" class="glyphicon glyphicon-triangle-bottom" style="top: 3px;"></span>
									<span ng-if="sorting.changedOn === 'asc'" class="glyphicon glyphicon-triangle-top" style="top: 3px;"></span>
								</th>
								<th style="width:25%; vertical-align: middle;">Changed By</th>
							</tr>
							</thead>
							<tbody>
							<tr data-ng-repeat="audit in $data track by $index">
								<td style="width:15%; padding: 5px;">{{audit.attributeName}}</td>
								<td style="width:15%; padding: 5px;">{{audit.changedFrom}}</td>
								<td style="width:15%">{{audit.changedTo}}</td>
								<td style="width:15%" sortable="'changedOn'">{{audit.changedOn | date: "MM/dd/yyyy HH:mm:ss"}}</td>
								<td style="width:25%">{{audit.changedBy}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-primary" ng-show="!$ctrl.isWaitingGetDepartmentAttributeAudit && filter.attributeName !==''" ng-click="filter.attributeName=''">Clear Filter</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
