<div class="col-md-12">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">UPC Swap Main</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Search</h4>
                            </div>
                            <div class="panel-body" style="min-width: 588px">
                                <div class="col-md-12">
                                    <div class="inline-block col-md-4" style="min-width: 186px">
                                        <label>UPC</label>
                                        <input type="text" class="" id="">
                                    </div>
                                    <div class="inline-block col-md-4" style="min-width: 186px">
                                        <label>Product ID</label>
                                        <input type="text" class="" id="">
                                    </div>
                                    <div class="inline-block col-md-4" style="min-width: 186px">
                                        <label>Item Code</label>
                                        <input type="text" class="" id="">
                                    </div>
                                </div>
                                <div class="col-md-8 col-md-offset-4 top-buffer">
                                    <button data-ng-click="" class="btn btn-primary inline-block">Search</button>
                                    <button data-ng-click="" class="btn btn-primary inline-block">Reset</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Search</h4>
                            </div>
                            <div class="panel-body" style="min-width: 588px">
                                <div class="col-md-12">
                                    <div class="inline-block col-md-4" style="min-width: 186px">
                                        <label>UPC</label>
                                        <input type="text" class="" id="">
                                    </div>
                                    <div class="inline-block col-md-4" style="min-width: 186px">
                                        <label>Product ID</label>
                                        <input type="text" class="" id="">
                                    </div>
                                    <div class="inline-block col-md-4" style="min-width: 186px">
                                        <label>Item Code</label>
                                        <input type="text" class="" id="">
                                    </div>
                                    <div class="col-md-8 col-md-offset-4 top-buffer">
                                        <button data-ng-click="" class="btn btn-primary inline-block">Search</button>
                                        <button data-ng-click="" class="btn btn-primary inline-block">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
