<!--http://jsfiddle.net/zeroskillz/L0ccmgf2/8/ -->

<!-- Modal -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <script type="text/ng-template" id="warningModal.html">
                <div id="warningModal">
                    <div class="modal-content text-center-lg">
                        <div class="modal-header">
                            <h2>{{WarningModalController.title}}</h2>
                        </div>
                        <div class="modal-body">
                            <!--
                            <div class="row">
                                <div class="text-center">
                                    Due to inactivity, your session is about to expire.
                                </div>
                            </div>
                            -->
                            <div class="row">
                                <div class="text-center">
                                    {{ WarningModalController.firstRowFlavorText }}
                                </div>
                                <div class="text-center">
                                    {{ WarningModalController.secondRowFlavorText }}
                                </div>
                            </div>
                            <div class="row">
                                <br>
                                <!--<div class="col-md-6 col-md-offset-3" idle-countdown="countdown" ng-init="countdown=5">-->
                                <div class="col-md-6 col-md-offset-3" idle-countdown="timeoutCountdown">
                                    <div>
                                        <progressbar max="300" value="timeoutCountdown" animate="false" class="progress-bar-danger"></progressbar>
                                    </div>
                                    <div class="text-bold-red-italic">
                                        You will be logged out in {{timeoutCountdown | secondsToDateTime | date:'mm:ss'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="text-center">
                                <button class="btn btn-default btn-success" data-ng-click="WarningModalController.yes()">Yes</button>
                                <button class="btn btn-default btn-danger" data-ng-click="WarningModalController.no()">Logout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>