<div ng-controller="ByosController as byosController" ng-init="byosController.init()">

	<!-- Show all the selections-->
	<div class="col-md-8">

		<div class="row">

			<div style="padding-bottom: 10px;">
				<label for="byosTypes">Field</label>
				<ui-select ng-model = "byosController.selectedType"
						   theme = "bootstrap"
						   id="byosTypes"
						   title = "Choose a type of search">
					<ui-select-match>{{$select.selected.name}}</ui-select-match>
					<ui-select-choices
						repeat="element in byosController.searchTypes"
						refresh="byosController.autoFilterForSearchField($select.search)"
						refresh-delay="400">{{element.name}}</ui-select-choices>
				</ui-select>
			</div>

			<!-- Sections to show the different criteria selectors (equals, less than, etc). -->
			<div ng-if="byosController.selectedType.operator == byosController.GT_LT_EQUAL" style="padding-bottom: 10px;">
				<label for="ltGtEqOperand">Operand</label>
				<select class="form-control" id="ltGtEqOperand"
						ng-options="operand.description for operand in byosController.ltGtEqOperands track by operand.id"
						ng-model="byosController.ltGtEqOperand"></select>
			</div>

			<div ng-if="byosController.selectedType.operator == byosController.NO_SELECTION">
				<p><strong>{{byosController.selectedType.responseLabel}}</strong></p>
			</div>

			<!-- Sections to list what the user can pick for a particular type (yes/no, dates, etc.). -->

			<div ng-if="byosController.selectedType.responseType == byosController.INTEGER">
				<label for="responseInteger">{{byosController.selectedType.responseLabel}}</label>
				<input type="number" class="form-control" ng-model="byosController.responseInteger" min="0" id="responseInteger">
			</div>

			<div ng-if="byosController.selectedType.responseType == byosController.WORKFLOW">
				<label for="responseWorkflow">{{byosController.selectedType.responseLabel}}</label>
				<select class="form-control" ng-model="byosController.responseWorkflow" id="responseWorkflow"
					ng-options="workflow.description for workflow in byosController.workflowOptions track by workflow.id">
				</select>
			</div>

			<div ng-if="byosController.selectedType.responseType == byosController.YES_NO">
				<label for="responseYesNo">{{byosController.selectedType.responseLabel}}</label>
				<select class="form-control" ng-model="byosController.responseYesNo" id="responseYesNo"
						ng-options="yesNo.description for yesNo in byosController.yesNoOptions track by yesNo.id">
				</select>
			</div>

			<div ng-if="byosController.selectedType.responseType == byosController.STRING">
				<label for="responseString">{{byosController.selectedType.responseLabel}}</label>
				<input class="form-control" id="responseString" type="text" ng-model="byosController.responseString" />
			</div>

			<!-- Date resonse types -->
			<div ng-if="byosController.selectedType.responseType == byosController.DATE &&
				byosController.ltGtEqOperand.id != byosController.ONE_WEEK">
				<label for="responseTypeDate">Date</label>
				<div class="input-group pull-right" id="responseTypeDate">
					<input class="form-control date-picker" readonly="true"
						   type="text"
						   uib-datepicker-popup="MM/dd/yyyy"
						   is-open="byosController.effectiveDatePickerOpened"
						   datepicker-options="byosController.datePickerOptions"
						   ng-model="byosController.responseDate"
						   ng-required="true" close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default"
								ng-click="byosController.openEffectiveDatePicker()">
							<i class="glyphicon glyphicon-calendar"></i>
							</button>
					</span>
				</div>
			</div>
			<div ng-if="byosController.selectedType.responseType == byosController.DATE &&
				byosController.ltGtEqOperand.id == byosController.BETWEEN">
				<label for="responseTypeEndDate">And</label>
				<div class="input-group pull-right" id="responseTypeEndDate">
					<input class="form-control date-picker" readonly="true"
						   type="text"
						   uib-datepicker-popup="MM/dd/yyyy"
						   is-open="byosController.endDatePickerOpened"
						   datepicker-options="byosController.datePickerOptions"
						   ng-model="byosController.responseEndDate"
						   ng-required="true" close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default"
								ng-click="byosController.openEndDatePicker()">
							<i class="glyphicon glyphicon-calendar"></i>
							</button>
					</span>
				</div>
			</div>

			<!-- Tax Categories. -->
			<div ng-if="byosController.selectedType.responseType == byosController.TAX_CATEGORY">
				<label for="taxCategorySelect">Tax Category is</label>
				<select class="form-control" id="taxCategorySelect"
						ng-options="taxCategory.displayName for taxCategory in byosController.taxCategories"
						ng-model="byosController.responseTaxCategory"></select>
			</div>
			<!-- Tag Type. -->
			<div ng-if="byosController.selectedType.responseType == byosController.TAG_TYPE">
				<label for="tagTypeSelect">Tag Type is</label>
				<select class="form-control" id="tagTypeSelect"
						ng-options="tagType.tagTypeDescription for tagType in byosController.tagTypes"
						ng-model="byosController.responseTagType"></select>
			</div>

			<!-- Qualifying Conditions  -->
			<div ng-if="byosController.selectedType.responseType == byosController.TAX_QUALIFYING_CONDITION">
				<label for="qualifyingConditionSelect">Tax Qualifying Condition is</label>
				<select class="form-control" id="qualifyingConditionSelect"
						ng-options="qualifyingCondition.displayName for qualifyingCondition in byosController.qualifyingConditions"
						ng-model="byosController.responseQualifyingCondition"></select>
			</div>

			<!-- Qualifying Conditions  -->
			<div ng-if="byosController.selectedType.responseType == byosController.FULFILMENT_CHANNEL">
				<label for="fulfilmentChannelSelect">Fulfillment Program is</label>
				<select class="form-control" id="fulfilmentChannelSelect"
						ng-options="fulfilmentChannel.displayName for fulfilmentChannel in byosController.fulfilmentChannels"
						ng-model="byosController.responseFulfilmentChannel"></select>
			</div>

			<!-- End date response types -->

		</div>

	</div>

	<!-- Buttons -->
	<div class="col-md-4">
		<!--Search -->
		<button id="productSearchBasicSearch"
				data-ng-click="byosController.search()"
				class="btn btn-primary btn-block"
				data-ng-disabled="!byosController.userCanSearch()">
			Search
		</button>
		<!-- Add to complex search -->
		<button	id="productSearchBasicAdd"
				data-ng-click="byosController.addComplexSearch()"
				class="btn btn-primary btn-block"
				data-ng-disabled="!byosController.userCanSearch()">
			Add
		</button>
	</div>
	<!-- Confirm deleting message--->
	<div id="confirmEistByosModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #337ab7">
					<h5 class="modal-title inline-block" style="color: #ffffff">Build Your Own Search Message</h5>
				</div>
				<div class="modal-body">
					<h5>{{byosController.existSearchObjectDescription}}</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="inline-block btn btn-danger btn-sm"
							data-ng-click="byosController.closeExistByosModal()">
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

</div>
