<div class="col-md-12 container-fluid"
	 can-edit="SM_MAINT_01"
	 ng-controller="ScaleMaintenanceLoadController as scaleMaintenanceLoadController">
	<div class="row" data-ng-if="scaleMaintenanceLoadController.success">
		<span class="alert alert-success col-md-4 col-md-push-4 text-center myfade"
			  role="alert" style="padding: .5%">{{scaleMaintenanceLoadController.TRANSACTION_CREATED_PRE_TEXT}}
			<a class="pointer"
			   uib-tooltip="{{scaleMaintenanceLoadController.NAVIGATE_TO_CHECK_STATUS_TEXT}}"
			   ng-click="scaleMaintenanceLoadController.navigateToCheckStatus()">{{scaleMaintenanceLoadController.transactionIdCreated}}
			</a>{{scaleMaintenanceLoadController.TRANSACTION_CREATED_POST_TEXT}}</span>
	</div>
	<div class="row" data-ng-if="scaleMaintenanceLoadController.error">
		<span class="alert alert-danger col-md-4 col-md-push-4 text-center myfade" role="alert" style="padding: .5%">{{scaleMaintenanceLoadController.error}}</span>
	</div>
	<div class="row" data-ng-if="scaleMaintenanceLoadController.waitingForUpdate">
		<span class="alert alert-info col-md-4 col-md-push-4 text-center myfade" role="alert" style="padding: .5%">{{scaleMaintenanceLoadController.UPDATING_MESSAGE}}</span>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="panel-group">
				<div class="panel panel-primary">
					<div class="panel-heading">Send Load
						<i ng-click="scaleMaintenanceLoadController.dataSearchToggle = !scaleMaintenanceLoadController.dataSearchToggle"
						   ng-class="{'glyphicon glyphicon-minus': scaleMaintenanceLoadController.dataSearchToggle, 'glyphicon glyphicon-plus': !scaleMaintenanceLoadController.dataSearchToggle}"
						   class="pull-right pointer">
						</i>
					</div>

					<div ng-hide="!scaleMaintenanceLoadController.dataSearchToggle">
						<div class="panel-heading">
							<ul class="nav nav-pills">
								<li class="active">
									<a data-target="#tabBasic" data-toggle="tab"
									   ng-click="scaleMaintenanceLoadController.initItemSearch()">PLU Search
									</a>
								</li>
								<li>
									<a data-target="#tabDescription" data-toggle="tab"
									   ng-click="scaleMaintenanceLoadController.initDescriptionSearch()">Description Search
									</a>
								</li>
							</ul>
						</div>

						<div class="panel-body">
							<div class="tab-content">
								<div class="tab-pane active" id="tabBasic">
									<div class="row">
										<div class="col-md-8">
											<label for="itemSearch">PLU(s) to search for:</label>
											<textarea data-ng-model="scaleMaintenanceLoadController.searchText"
													  placeholder="Please enter PLU(s) to search for..." id="itemSearch"
													  class="noresize" rows="8" style="width: 100%">
											</textarea>
										</div>
										<div class="col-md-4">
											<label></label>
											<button data-ng-click="scaleMaintenanceLoadController.newSearch()"
													class="btn btn-primary btn-block"
													data-ng-disabled="scaleMaintenanceLoadController.searchText == null">Search</button>
											<button data-ng-click="scaleMaintenanceLoadController.initItemSearch()"
													class="btn btn-primary btn-block"
													data-ng-disabled="scaleMaintenanceLoadController.searchText == null">Clear</button>
										</div>
									</div>

								</div>
								<div class="tab-pane" id="tabDescription">
									<div class="row">
										<div class="col-md-8">
											<label for="descriptionSearch">Description to search for:</label>
											<input type="text" id="descriptionSearch" style="width: 100%"
												   placeholder="Please enter description to search for..."
												   ng-model="scaleMaintenanceLoadController.searchText">
										</div>
										<div class="col-md-4">
											<label></label>
											<button data-ng-click="scaleMaintenanceLoadController.newSearch()"
													class="btn btn-primary btn-block"
													data-ng-disabled="scaleMaintenanceLoadController.searchText == null">Search</button>
											<button data-ng-click="scaleMaintenanceLoadController.initDescriptionSearch()"
													class="btn btn-primary btn-block"
													data-ng-disabled="scaleMaintenanceLoadController.searchText == null">Clear</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<loading-spinner ng-show="scaleMaintenanceLoadController.isWaiting">
	</loading-spinner>
	<div id="notFoundModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" style="background-color: #337ab7">
					<div class="modal-title inline-block" style="color: #ffffff">These are the PLUs that weren't found:
					</div>
					<button type="button" class="inline-block pull-right btn btn-default btn-sm" data-dismiss="modal">Close</button>
				</div>
				<div class="modal-body">
					<div ng-repeat="item in scaleMaintenanceLoadController.missingValues.noMatchList">{{item}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="row" data-ng-if="!scaleMaintenanceLoadController.isWaiting && scaleMaintenanceLoadController.modifyMessage">
				<span class="alert alert-success col-md-4 col-md-push-4 text-center myfade" role="alert">{{scaleMaintenanceLoadController.modifyMessage}}</span>
			</div>
			<div class="row" data-ng-if="!scaleMaintenanceLoadController.isWaiting && scaleMaintenanceLoadController.modifyError">
				<span class="alert alert-danger col-md-4 col-md-push-4 text-center myfade" role="alert">{{scaleMaintenanceLoadController.modifyError}}</span>
			</div>
			<div class="panel-group" ng-show="scaleMaintenanceLoadController.data">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title inline-block"><b>Results</b></h4>
						<h5 class="panel-title inline-block">{{scaleMaintenanceLoadController.resultMessage}}</h5>
						<div class="inline-block pull-right">
							<h5 ng-if="scaleMaintenanceLoadController.missingValues.matchCount > 0"
								class="green-text panel-title inline-block">
								{{scaleMaintenanceLoadController.missingValues.matchCount}}
								<span ng-if="scaleMaintenanceLoadController.missingValues.matchCount ==  1">PLU</span>
								<span ng-if="scaleMaintenanceLoadController.missingValues.matchCount >  1">PLUs</span>
								found</h5>
							<h5 ng-if="scaleMaintenanceLoadController.missingValues.noMatchCount > 0"
								data-toggle="modal" data-target="#notFoundModal"
								class="pointer panel-title inline-block pull-right yellow-underline-text-with-padding">
								{{scaleMaintenanceLoadController.missingValues.noMatchCount}}
								<span ng-if="scaleMaintenanceLoadController.missingValues.noMatchCount ==  1">PLU</span>
								<span ng-if="scaleMaintenanceLoadController.missingValues.noMatchCount >  1">PLUs</span>
								not	found</h5>
							<div class="glyphicon glyphicon-download-alt inline-block pull-right pointer"
								 ng-click="scaleMaintenanceLoadController.export()"
								 style="color: orange; padding-left: 10px; padding-bottom: 5px;  font-size: medium" data-toggle="tooltip" title="Export to Excel"></div>
							<div class="inline-block pull-right" ng-show="scaleMaintenanceLoadController.downloading"
								 style="color: orange">Downloading...</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8 form-group">
								<table ng-table="scaleMaintenanceLoadController.tableParams"
									   class="table table-heb table-bordered table-striped">
									<script type="text/ng-template" id="checkBoxHeader">
										<input type="checkbox" ng-model="scaleMaintenanceLoadController.selectAll" ng-change="scaleMaintenanceLoadController.updateAllSelected(scaleMaintenanceLoadController.selectAll)">
									</script>
									<tr ng-repeat="scaleUpc in scaleMaintenanceLoadController.data track by $index">
										<td data-header="'checkBoxHeader'">
											<input type="checkbox" ng-model="scaleUpc.isChecked" ng-change="scaleMaintenanceLoadController.updateSelectAllSwitch(scaleUpc.isChecked)">
										</td>
										<td data-title="'PLU'"><a ng-click="scaleMaintenanceLoadController.getSingleView(scaleUpc, $index)"
																  class="pointer">{{scaleUpc.plu}}</a>
										</td>
										<td data-title="'UPC'">{{scaleUpc.upc}}</td>
										<td data-title="'Description 1'">{{scaleUpc.englishDescriptionOne}}</td>
										<td data-title="'Description 2'">{{scaleUpc.englishDescriptionTwo}}</td>
										<td data-title="'Department'">{{scaleUpc.associateUpc.sellingUnit.productMaster.subDepartment.displayName}}</td>
										<td data-title="'Effective Date'">{{scaleUpc.effectiveDate | date : 'MM/dd/yyyy'}}</td>
										<td data-title="'Ingredient Statement Number'">
											<a class="pointer"
											   ng-show="scaleMaintenanceLoadController.isFakeIngredientStatement(scaleUpc.ingredientStatement)"
											   ng-click="scaleMaintenanceLoadController.navigateToIngredientStatements(scaleUpc.ingredientStatement)">
												{{scaleUpc.ingredientStatement}}
											</a>
											<span
												ng-show="!scaleMaintenanceLoadController.isFakeIngredientStatement(scaleUpc.ingredientStatement)">
											{{scaleUpc.ingredientStatement}}
										</span>
										</td>
										<td data-title="'Nutrient Statement Number'">
											<a class="pointer"
											   ng-show="scaleMaintenanceLoadController.isFakeNutrientStatement(scaleUpc.nutrientStatement)"
											   ng-click="scaleMaintenanceLoadController.navigateToNutrientStatement(scaleUpc.nutrientStatement)">
												{{scaleUpc.nutrientStatement}}
											</a>
											<span
												ng-show="!scaleMaintenanceLoadController.isFakeNutrientStatement(scaleUpc.nutrientStatement)">
											{{scaleUpc.nutrientStatement}}
										</span>
										</td>
									</tr>
								</table>
							</div>
							<div class="col-md-4 form-group">
								<div class="row">
									<div class="col-md-8 form-group">
										<label for="storesSelected">Store(s) selected:</label>
										<ui-select
											id="storesSelected"
											ng-model="scaleMaintenanceLoadController.selectedStores" theme="bootstrap"
											multiple>
											<ui-select-match placeholder="--Select--">
												{{$item}}
											</ui-select-match>
											<ui-select-choices
												repeat="store in scaleMaintenanceLoadController.loadStores">
												{{store}}
											</ui-select-choices>
										</ui-select>
									</div>
									<div class="col-md-4 form-group">
										<button class="btn btn-primary pull-right"
												ng-click="scaleMaintenanceLoadController.submitLoad()"
												data-ng-disabled="!scaleMaintenanceLoadController.isLoadValid()">Submit Load
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
